.wrapper-card {
  width: 327px;
  height: 360px;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 15px;
  padding: 24px 24px 32px 24px;
  //   margin: auto auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include respond(medium) {
    width: 403px;
    height: 416px;
    padding: 32px;
  }
}
